@page "/AddReview/{ReservationId:int}"
<head>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<header class="header position-relative">
    <div class="icon">
        <i @onclick="NavigateToHome" class="fas fa-arrow-left" aria-hidden="true"></i>
    </div>
    <a class="logo"><span>L</span>ife <span>C</span>hanger</a>
    <div class="icon">
        <AuthorizeView>
            <i>Hello , @(context.User.Identity!.Name)</i>
            <i @onclick="LogoutAsync">Log Out</i>
        </AuthorizeView>
    </div>
</header>
<div class="login-form ">
    <EditForm Model="@viewModel" OnValidSubmit="HandleValidSubmitAsync">
        <h3>Service</h3>
        <div class="form-group">
            <label>Your Opinion About Our Experience</label>
            <InputText class="box" @bind-Value="@viewModel.Comment" placeholder="Enter Your Review" />
        </div>
        <div class="d-flex flex-column align-center">
            <MudRating @bind-SelectedValue="selectedVal" HoveredValueChanged="HandleHoveredValueChanged" />
            <MudText Typo="Typo.subtitle2" Class="deep-purple-text mt-2">@LabelText</MudText>
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Add your Service</button>
        </div>

    </EditForm>
</div>